:root {
    --primary-color: #033f5f;
    --second-color: #007cbc;
    --neutral-grey: #747e83;
    --neautral-light: #ffffff; 
    --highlight_color: #f5ba36;
}
* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    margin: 0;
}
h1 {
    font-size: 2.5rem;
    color: var(--neautral-light);
}
h2 {
    font-size: 2rem;
    color: var(--primary-color);
}
h3 {
    font-size: 1.5rem;
    color: var(--primary-color);
}
p, ul, ol {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--neutral-grey);
}
img {
    max-width: 100%;
}

/******* Layout *******/
.container {
    background-color:indianred;
    width: min(95%, 75rem);
    margin: 0 auto;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
    justify-content: space-between;
    font-size: 30px;
    color:ghostwhite;
    padding: 0rem;
    display: flex;
}
.container > * {
    grid-column: span 12;
}
.Bottom {
    grid-template-columns: repeat(12, 1fr);
    grid-column: span 12;
    display: grid; 
    background-color: darkturquoise;
    font-family: Cambria; 
    font-size: 40px;
    color:dimgrey;
    margin: 0 auto;
    gap: 1.5rem; 
    width: min(95%, 75rem);
    justify-content: space-between;
}
.row {
    grid-template-columns: repeat(12, 1fr);
    grid-column: span 12; 
    justify-content: space-between;
    display: grid; 
    margin: 0 auto; 
    width: min(95%, 75rem)
}

/******* Desktop Layout *******/
@media screen and (min-width: 40rem) {
    .site-id {
        grid-column: 1 / span 6;
        background-color: #033f5f;
    }
    .menu {
        grid-column: 7 / span 6;
        background-color: #0b5f03;
    }
    .company {
        grid-column: 1 / span 8;
        background-color: purple;
    }
    .company-image {
        grid-column: 9 / span 4;
        background-color: yellow;
    }
    .col-span-4 {
        grid-column: span 4;
    }
    .col-span-12 {
        grid-column: 12 /span 12;
    }
    .col-span-2 {
        grid-column: span 2;
    }
    .col-span-6 {
        grid-column: span 6;
    }
    .col-span-3 {
        grid-column: span 3;
    }
}
    