* {
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0px 10%;
    background-color: #f8e6dc; 
}
header {
    background-color: #f8e6dc;
    color: black;
    padding: 0rem; 
}
h1 {
    font-size: 1.25rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.25rem; 
}
img {
    max-width: 100%;
}   
.circle {
    border-radius: 35%;
    border: 5px solid #9abcf8;
}
a:link, a:visited {
    color: #9abcf8; 
    text-decoration: none;
}
a:hover {
    color: #6e8fc7; 
    text-decoration: underline;
}
.major-button:hover {
    box-shadow: 0rem 0.3rem 0.5rem 0rem black;
    background-color: white;
    transition: ease-in-out 500ms;
}
.major-button {
    border: thin solid;
    border-color: black;
}

/******* Layout *******/
.container {
    background-color: #f8e6dc;
    display: grid;
    gap: 1.5rem; 
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    width: min(100%, 75rem);
}
.container > * {
    grid-column: span 12;
}

/******* Desktop Layout *******/
@media screen and (min-width: 60rem max-width: 60rem) {
    .col-span-8 {
        grid-column: span 8;
    }
    .col-span-4 {
        grid-column: span 4;
    }
    .work-section {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }
    .major-button {
        flex-basis: 27.5%;
    }
    .large-card {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }
}

/******* Navigation Using Flexbox *******/
nav {
    padding: 0 0rem;
    top: 0;
}
nav ul {
    margin: 0rem;
    margin-top: 1rem;
    padding: 0;
    list-style: none;
    display: flex;
    position: fixed;
}
nav li {
    margin: 0rem;
}
.ham {
    float: right;
}
nav a:link, nav a:visited {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0rem;
    margin: 0rem; 
    transition: ease-in-out 500ms;
}

/******* Components *******/
.minor-button:link, .minor-button:visited {
    color: white;
    background-color: #9abcf8;
    text-align:center;
    text-decoration: none;
    padding: 1.5rem 2rem;
    border-radius: .25rem;
    box-shadow: 0 .25rem .25rem purple;
    display:inline-flex;
    justify-content: right;
    display:inline-block;
    margin: .25rem .25rem 0;
    transition: background-color 0.5s ease;
}
.minor-button:hover {
    background-color: palevioletred;
}
.large-card {
    text-align: left;
    margin: 0rem; 
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    background-color: white;
}
.large-card-title {
    margin: 0rem 0 0 0;
    padding: 0.25 0.25 0rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem; 
}
.large-card-subtitle {
    margin: 0rem 0 0 0;
    padding: 0.25 0.25 0rem;
    padding-top: 2rem;
    padding-left: 4rem;
    background-color: lightgrey;
}
.major-button {
    text-align: left;
    margin: 0rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    box-shadow: 0;
    background-color: white;
}
.card-title {
    margin: 0rem 0 0 0;
    padding: 0.25 0.25rem 0rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}
.card-text {
    margin: 0rem 2 0rem 0;
    padding: 0 0rem 0rem;
    padding-left: 0.5rem;
}