* {
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0px 10%;
    background-color: #f8e6dc; 
}
header {
    background-color: #f8e6dc;
    color: black;
    padding: 0rem; 
}
h1 {
    font-size: 1.25rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.25rem; 
}
img {
    max-width: 100%;
}   
.circle {
    border-radius: 35%;
    border: 5px solid #9abcf8;
}
a:link, a:visited {
    color: #9abcf8; 
    text-decoration: none;
}
a:hover {
    color: #6e8fc7; 
}
.major-button:hover {
    box-shadow: 0rem 0.3rem 0.5rem 0rem black;
    background-color: white;
    transition: ease-in-out 500ms;
}
.major-button {
    border: thin solid;
    border-color: black;
}
.large-card-maintext:hover {
    text-decoration: underline;
    text-decoration-line: underline;
}
.large-card-subtext:hover {
    text-decoration-line: underline;
}
.large-card-subtext2:hover {
    text-decoration-line: underline;
}
.minor-button2 {
    display: flex;
    flex-flow: row wrap;
}

/******* Layout *******/
.container {
    background-color: #f8e6dc;
    display: grid;
    gap: 1.5rem; 
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    width: min(100%, 75rem);
}
.container > * {
    grid-column: span 12;
    grid-row: span 1;
}

/******* Desktop Layout *******/
@media screen and (min-width: 40rem max-width: 60rem) {
    .col-span-8 {
        grid-column: span 8;
    }
    .col-span-4 {
        grid-column: span 4;
    }
    .work-section {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }
    .major-button {
        flex-basis: 27.5%;
    }
    .large-card {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }
}

/******* Navigation Using Flexbox *******/
nav {
    padding: 0;
    top: 0;
    display: flex;
    position: relative;
}
nav ul {
    margin: 0rem;
    margin-top: 1rem;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: wrap;
}
nav li {
    padding-right: 25rem;
}
nav a:link, nav a:visited {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    transition: ease-in-out 500ms;
}

/******* Components *******/
.minor-button:link, .minor-button:visited {
    color: white;
    background-color: blue;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    border-radius: .25rem;
    display:inline-flex;
    justify-content: right;
    margin: .25rem .25rem 0;
    transition: background-color 0.5s ease;
    float: right;
}
.minor-button:hover {
    background-color:royalblue;
}
.minor-button2:link, .minor-button2:visited {
    color: blue;
    text-align: center;
    padding: 0.5rem 0.75rem;
    border-radius: .25rem;
    transition: background-color 0.5s ease;
    font-weight: bold;
    float: right
}
.minor-buton2:hover {
    background-color: lightgrey;
}
.large-card {
    text-align: left;
    margin: 0rem; 
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    background-color: white;
}
.large-card-title {
    margin: 0rem 0 0 0;
    padding: 0.25 0.25 0rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem; 
    padding-bottom: 1rem;
}
.large-card-subtitle {
    margin: 0rem 0 0 0;
    padding-top: 1rem;
    padding-left: 4rem;
    padding-bottom: 0.75rem;
    background-color: lightgrey;
}
.large-card-maintext {
    padding-top: 0.75rem;
    padding-left: 6rem;
    font-weight: bold;
    display: grid;
    grid-row: span 1;
    grid-column: span 2;
}
.large-card-subtext {
    padding-top: 0.5rem;
    padding-left: 6rem;
    display: grid;
    grid-column: span 2;
}
.large-card-subtext2 {
    padding-top: 0.5rem;
    padding-left: 6rem;
    display: grid;
    grid-column: span 2;
}
.major-button {
    text-align: left;
    margin: 0rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    box-shadow: 0;
    background-color: white;
}
.card-title {
    margin: 0rem 0 0 0;
    padding: 0.25 0.25rem 0rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}
.card-text {
    margin: 0rem 2 0rem 0;
    padding: 0 0rem 0rem;
    padding-left: 0.5rem;
}